body {
    font-family: "Helvetica", Sans-Serif;
    background-color: #ffffff; 
  }

  section .box{
      margin:100px;
      display: flex;
      justify-content: center;
  }
  section .formulario{
      background-color: rgb(215, 233, 233);
      padding: 50px;
  }

  button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }
 
  form label{
	width:185px;
	font-weight:bold;
	
}

form input[type="text"], select, textarea{
	width:100%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 
form input[type="submit"]:hover{
	cursor:pointer;
    background-color:rgb(49, 7, 7);
}
.genero{
    display: flex;
}
.registro{
    display: block;
}